<mat-card *ngIf="post">
  <img src="{{post.image}}" alt="{{post.title}}">
  <p><small>Posted by {{post.author}} &bull; on {{post.published.toDate() | date: 'fullDate'}}</small></p>
      <mat-card-actions align="end" *ngIf="auth.currentUserId === post.authorId">
        <button mat-icon-button (click)="editing=true">
          edit
        </button>
      </mat-card-actions>
      <mat-card-actions align="end" *ngIf="auth.currentUserId === post.authorId">
        <button mat-icon-button (click)="delete()">
          delete
        </button>
      </mat-card-actions>
</mat-card>