<section>
    <mat-card *ngFor="let post of posts | async" >
      <mat-card-content>
        <h2 class="grey"><strong>{{post.title | uppercase}}</strong></h2>
        <img src="{{post.image}}" alt="{{post.title}}">
        <p>{{post.content}}</p>
        <button routerLink="{{post.id}}" class="clickable"><strong> READ MORE</strong>
         </button>
         <br>
        
        <p class="right"><small>{{post.published.toDate() | date: 'fullDate'}}</small></p>
        <hr>
      </mat-card-content>
    </mat-card>
  </section>